<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add the user-permission in order to access the internet and location services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Homeal"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".BuyerOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".BuyerStoreViewActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".StoreInfo"
            android:exported="false" /> <!-- Key for Google Maps API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0wq85Uu8M9dcVGoWdOeB0ql8nvXX-sTw" />

        <activity
            android:name=".ItemStoreActivity"
            android:exported="false" />
        <activity
            android:name=".BuyerMainActivity"
            android:exported="false" />
        <activity
            android:name=".ManageProductInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SellerManageStoreActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".CreateStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>